body {
    text-align: center;
    background-color: burlywood;
  }
  h1 {
    font-family: "Retro Gaming";
  }
  .choice-button {
    height: 100px;
    width: 100px;
    border: none;
    margin: 10px;
    background-color: green;
    border-radius: 50px;
    cursor: pointer;
  }
  .choice-image {
    height: 75px;
  }
  .reset {
    height: 45px;
    width: 75px;
    border-radius: 25px;
    font-weight: 500;
    background-color: beige;
    border: 2px dotted brown;
  }
  .reset h3 {
    font-family: "Games", sans-serif;
  }
  